body {
  margin: 0;
  padding: 0;
}

#map {
  height: 65vh;
  width: 100vw;
  z-index: 1;
  top: 35vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: x-large;
  color: white;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/images/pattern-bg.png');
  background-size: cover;
  height: auto;
  width: 100%;
  position: absolute;
  padding-bottom: 10rem;
  top: 0;
  left: 0;
  z-index: 10;
}

.info-container {
  padding: 1rem 1rem 1rem 1rem;
  position: absolute;
  margin: 0 1rem 0 1rem;
  top: 7.5rem;
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.info {
  padding: .4rem;
}
.info p {
  margin: 0px;
  font-size: small;
  color: rgb(85, 82, 82);
}
.info span{
  font-size: larger;
  font-weight: bold;
}

form {
  width: 100vw;
}
.search-container {
  display: flex;
  height: 2.5rem;
  margin: 0 1rem 0 1rem;
}

input {
  width: 100%;
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  padding: 0px 1rem;
}

button {
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: black;
  color: white;
  font-size: large;
  width: 15%;
}

.loading-screen {
  display: none;
  size: cover;
}


@media (min-width: 640px) {
  #map {
    height: 90vh;
    top: 10vh;
  }
  .info-container {
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 5rem;
    top: 12rem;
  }
  .info {
    max-width: 180px;
  }
  .info p {
    font-size: large;
  }
  .info span {
    font-size: x-large;
  }
  h1 {
    font-size: xx-large;
  }
  form {
    max-width: 30rem;
  }
}